{% extends "events/header.html" %}
<!-- events.html for backslash -->
{% block content %}	
	<div class="col-sm-9" style="padding-top: 50px;">			
    	<!-- code debugging, football, cricket, film_screening, singing,  -->
    	{% load staticfiles %}
        <br><br>
        <div class="hvrbox">
          <img src="{% static 'events/img/adjusted/coding_1.jpg' %}" class="hvrbox-layer_bottom" width="200px" height="200px">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">Code Debugging</div>
          </div>
        </div>
        
        <div class="hvrbox">
          <img src="{% static 'events/img/adjusted/football_dark_blue.jpg' %}" class="hvrbox-layer_bottom" width="200px" height="200px">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">Football</div>
          </div>
        </div>

        <div class="hvrbox">
          <img src="{% static 'events/img/adjusted/cricket_dark_blue.jpg' %}" class="hvrbox-layer_bottom" width="200px" height="200px">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">Cricket</div>
          </div>
        </div>
        
        <br>
        <div class="hvrbox">
          <img src="{% static 'events/img/adjusted/film_screening.jpg' %}" class="hvrbox-layer_bottom" width="200px" height="200px">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">Film Screening</div>
          </div>
        </div>

        <div class="hvrbox">
          <img src="{% static 'events/img/adjusted/singing_1.jpg' %}" class="hvrbox-layer_bottom" width="200px" height="200px">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">Singing</div>
          </div>
        </div>

        <div class="hvrbox">
          <img src="{% static 'events/img/adjusted/mobile_photography.jpg' %}" class="hvrbox-layer_bottom" width="200px" height="200px">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">Mobile Photography</div>
          </div>
        </div>

      </div>

      <div class="row" id="social">
            <div class="item">
                <a href="https://twitter.com/darshil36" target="_blank">
                    <i class="icon icon-twitter"></i>
                </a>
            </div>
            <div class="item">
                <a href="https://github.com/darshil" target="_blank">
                    <i class="icon icon-github"></i>
                </a>
            </div>
            <div class="item">
                <a href="https://www.linkedin.com/in/darshil36" target="_blank">
                    <i class="icon icon-linkedin"></i>
                </a>
            </div>
            <div class="item">
                <a href="mailto:hello@darshilpatel.com">
                    <i class="icon icon-mail"></i>
                </a>
            </div>
        </div>

    </div>
{% endblock %}