/* Main */
* {
    margin: 0;
}

html, body {
    height: 100%;
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v7/4hYyXH_8WmbBLamf6WjLwg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    font-family: 'Dosis', sans-serif;
    background: #13181e; /* earlier - 191919 */
    color: #ffffff;
}

a:link {
    color: #00aeef; /* 07b39b, alt: 00aeef; */
}

a:hover {
    color: #5073b8;
}

a:active {
    color: #ef4e7b;
}

.item {
    margin: 3px 8px;
}

/* Effects */
#particles, #vignette {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    bottom: 0;
    right: 0;
    z-index: -2;
}

#vignette {
    box-shadow: 0 0 800px rgba(0,0,0,0.9) inset;
    z-index: -1;
}

/* animations */
#reel {   
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinL { 
    from { transform: rotate(0deg); } 
    to { transform: rotate(360deg); }
}

@keyframes spinR {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}


/* image rotaions for the titles */
@keyframes spinForHome {
    from { transform: rotate(240deg); }
    to { transform: rotate(360deg); }   
}

@keyframes spinForBlog {
    from { transform: rotate(0deg); }
    to { transform: rotate(120deg); }
}

@keyframes spinForEvents {
    from { transform: rotate(120deg); }
    to { transform: rotate(240deg); }   
}

/* */
@keyframes spinToHome {
    from { transform: rotate(120deg); }
    to { transform: rotate(0deg); }
}

@keyframes spinToBlog {
    from { transform: rotate(240deg); }
    to { transform: rotate(120deg); }
}

@keyframes spinToEvents {
    from { transform: rotate(0deg); }
    to { transform: rotate(240deg); }
}

/* style for the description section */
#des {
    position: absolute;
    top: 200px;
    left: 260px;
    right: 100px;
}

#home_description {
    top: 100%;
}

.hvrbox,
.hvrbox {
    box-sizing: border-box;
}

.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.hvrbox img {
    max-width: 100%;
}

.hvrbox .hvrbox-layer_bottom {
    display: block;
}

.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;   
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}

.hvrbox .hvrbox-text {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}

.hvrbox.active .hvrbox-text_mobile {
    display: block;
}

/* Social Media Icons */

/* Responsiveness */